{
  "root": true,
  "extends": "rqbazan-js/react",
  "settings": {
    "import/resolver": {
      "babel-module": {}
    }
  },
  "rules": {
    "import/extensions": "off",
    "import/no-unresolved": "off"
  }
}
