{
  "root": true,
  "ignorePatterns": ["generated"],
  "extends": "rqbazan-ts",
  "settings": {
    "import/ignore": "off"
  },
  "rules": {
    "import/extensions": "off",
    "import/no-unresolved": "off",
    "@typescript-eslint/ban-ts-ignore": "off"
  }
}
